<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProbNEL</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1 class="text-center">ProbNEL</h1>
    <h2 class="text-center">Entity Linking System - Named Entity Recognition and Disambiguation</h2>
    <br>
    <form id="process-form" class="mb-4">
        <h3>Input text:</h3>
        <textarea id="user_input" name="user_input" class="form-control" rows="5" placeholder="Enter text here"></textarea>
        <div class="row mt-3">
            <h3>Configuration:</h3>
            <div class="col-md-3">
                <label for="ner_model" class="form-label">Select NER model</label>
                <select id="ner_model" name="ner_model" class="form-select">
                    <option value="conllpp">CoNLL++</option>
                    <option value="ontonotes5">OntoNotes&nbsp;5.0</option>
                    <option value="fewnerd">Few-NERD</option>
                </select>
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="use_types_score" name="use_types_score">
                    <label class="form-check-label" for="use_types_score">
                        Use NER types to ontology type mapping scores
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-primary" onclick="submitInput(event, 'dbpedia')">Process text with DBpedia</button>
        </div>
    </form>


    <div id="loader-text-input" style="display: none; text-align: center; margin-top: 20px;">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <p>Please wait, processing the text...</p>
    </div>

    <h3>Results:</h3>

    <div id="result" class="result">
        <h4>Processed Text:</h4>
        <p id="text-with-entities"></p>
    </div>

    <div id="context-box">
        <h4>Entity Details</h4>
        <div id="entity-details-table"><!-- JS will inject accordions here --></div>
    </div>

    <br>

</div>

<!-- Bootstrap JS (optional, for extra functionality like tooltips, popovers) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='process_text.js') }}"></script>

</body>
</html>
